/* .small-font {
    font-size: 11px;
  } */
.consultaArba {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}
.consultaArba:hover {
  color: black;
  text-decoration: none;
}
.consultaArbaBTN:hover {
  background-color: darkgray;
}
.consultaArbaBTN {
  background-color: #00b3cb !important;
}
.bg-primary {
  background-color: #00b3cb !important;
}
.titulo {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
}
