.consulta {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.provincia {
  box-shadow: 3px 3px 5px wheat;
}
.busqueda {
  color: aliceblue;
  text-shadow: 2px 3px 2px gray;
}
.fogaba{
  box-shadow: 5px 5px 5px 5px white;
}